#==== Vagrant vms =====
*.vagrant
*.log

#==== Docker containers =====
*.pem
*.pub
*id_rsa
*id_rsa.pub
*provision/

#==== VSCode ====
.vscode
ansible/ssh_keys

#==== DB for containers ====
docker_containers/monitoring/docker_stats/db_stats